/*Global variables*/

:root{
    --color-primary: #2F8F9D;
    --color-secondary: #3BACB6;
    --color-tertiary: #82DBD8;
    --color-quariery: #B3E8E5;
    /*--color-accet: #something?;*/
}

*, 
*::after, 
*::before {
    box-sizing: border-box;
}


/*Typography*/

html {
    font-size: 62.5%;
}

body {
    color: var(--color-secondary);
    font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
}

.conatiner {
    margin: 0 20%; /*TODO: FIX: the image and the hero container has grown larger than its conatiner*/
}

h1, h2, h3 {
    color: var(--color-primary);
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 1rem;
}

h1 {
    font-size: 7rem;
    font-weight: 400;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
    font-weight: 400;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    
    body{
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
       font-size:  2.4rem;
    }
}

/*Links*/

a {
    text-decoration: none;
}


/*Lists*/

.list {
    list-style: none;
    padding-left: 0;
}

.list__item {
    padding-right: 2rem;
    transition: color 0.2s;
}

.list--inline .list__item {
    display: inline;
}

.list__item:hover {
    color: var(--color-tertiary);
    cursor: pointer;
}


/*Buttons*/

.btn {
    background: none;
    border-radius: 36px;
    border: 0;
    cursor: pointer;
    font-weight: 500;
    margin: 1rem 0;
    padding: 2rem 2.5rem;
    text-align: center;
    white-space: nowrap;
    width: 100%;
}

.btn--primary {
    background: var(--color-quariery);
    color: var(--color-secondary);
    transition: background 0.2s, color 0.2s;
}

.btn--primary:hover {
    background: var(--color-secondary);
    color: white;
}

.btn--secondary {
    border: 2px solid var(--color-quariery);
    color: var(--color-secondary);
    transition: background 0.2s, color 0.2s;
}

.btn--secondary:hover {
    background-color: var(--color-quariery);
    border: none;
    color: white;
}

a.btn {
    display: inline-block;
}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.8rem;
    }
}


/*Inputs*/

.input {
    background: #ECECEC; /*Color taken from the canvas design*/
    border-radius: 36px;
    border: 0;
    color: #4D4C4C; /*Color taken from the canvas design*/
    font-family: 'DM Sans', sans-serif;
    font-size: 2rem; 
    margin: 1rem 0;
    outline: 0;
    padding: 1.5rem 3rem;
    text-align: center; /*TODO: Concider to change alignment to left again*/
    width: 100%;
}

::placeholder {
    color: #4D4C4C;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .input {
        font-size: 1.8rem;
    }
}


/*Grids*/

.grid {
    display: grid;
    justify-items: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    
    .grid--1x2 {
        grid-template-columns: 1fr 1fr;
    }
}

/*EamilBox*/

.emailBox {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%; /*Adding a margin here for mobile, might delete later*/
    margin-right: 10%; /*Adding a margin here for mobile, might delete later*/
}

.emailBox .btn {
    width: 80%;
}

.emailBox__heading {
    text-transform: uppercase;
    text-align: center;
}

@media screen and (min-width: 768px) {

    .emailBox {
        margin: 0 30%; /*TODO: Might remove this later*/
    }
    
    .emailBox__heading {
        font-size: 5rem;
    }
}


/*Hero*/

.hero {
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--color-quariery);
}

.hero h1 {  /*TODO: Concider to change h1 and font size for all headings*/
    font-size: 5rem;
}

.hero__image img {
    height: 400px;
    margin: 0 25px;
}

@media screen and (min-width: 768px) {
    .hero {
        text-align:left;
        font-size: 1.8rem;
    }

    .hero h1 {  /*TODO: Concider to change h1 and font size for all headings*/
        font-size: 10rem;
    }

}

@media screen and (min-width: 1024px) {
    .hero {
        grid-template-columns: 70fr 30fr;
    }
}

/*Collapsibles*/ 

/*TODO: GO over all the collapsibles and delete the ones you don´t need*/

.collapsible__header {
    display: flex;
    justify-content: space-between;
} 

.collapsible__heading {
    font-size: 3rem;
    margin-top: 0;
}

.collapsible__chevron {
    transform: rotate(-90);
    transition: transform 0.3s;
}

.collapsible__content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all .3s;
}

.collapsible--expanded .collapsible__chevron {
    transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
}


/*Navigation bar*/

.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    align-items: center;
    margin: 0 5%;
}

.nav__list {
    width: 100%;
}

.nav__item {
    padding: 0.5rem 2rem;
    border-bottom: 1px solid var(--color-quariery);
}

.nav__item > a {
    color:var(--color-secondary);
    transition: color .2s;
}

.nav__item > a:hover {
    color:var(--color-primary);;
}

.nav img {
    height: 40px;
}

@media screen and (min-width: 768px) {
    
    .nav__toggler {
        display: none;
    }

    .nav__list {
        width: auto;
        display: flex;
    }

    .nav__item {
        border-bottom: 0;
    }
}