/*Global variables*/

:root{
    --color-primary: #2F8F9D;
    --color-secondary: #3BACB6;
    --color-tertiary: #82DBD8;
    --color-quariery: #B3E8E5;
    /*--color-accet: #something?;*/
}

*, 
*::after, 
*::before {
    box-sizing: border-box;
}


/*Typography*/

html {
    font-size: 62.5%;
}

body {
    color: var(--color-secondary);
    font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
}

.conatiner {
    margin: 0 20%; /*TODO: FIX: the image and the hero container has grown larger than its conatiner*/
}

h1, h2, h3 {
    color: var(--color-primary);
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 1rem;
}

h1 {
    font-size: 7rem;
    font-weight: 400;
}

h2 {
    font-size: 2rem; /*TODO: Go over the headings and see that they are right*/
    font-weight: 400;
}

h3 {
    font-size: 4rem;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    
    body{
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem; /*TODO: Set emailbox fontsize - delete styles in email box for font*/
    }

    h3 {
       font-size:  5rem;
    }
}

/*Links*/

a {
    text-decoration: none;
}


/*Lists*/

.list {
    list-style: none;
    padding-left: 0;
}

.list__item {
    padding-right: 2rem;
    transition: color 0.2s;
}

.list--inline .list__item {
    display: inline;
}

.list__item:hover {
    color: var(--color-tertiary);
    cursor: pointer;
}


/*Buttons*/

.btn {
    background: none;
    border-radius: 36px;
    border: 0;
    cursor: pointer;
    font-weight: 500;
    margin: 1rem 0;
    padding: 2rem 2.5rem;
    text-align: center;
    white-space: nowrap;
    width: 100%;
}

.btn--primary {
    background: var(--color-quariery);
    color: var(--color-secondary);
    transition: background 0.2s, color 0.2s;
}

.btn--primary:hover {
    background: var(--color-secondary);
    color: white;
}

.btn--secondary {
    border: 2px solid var(--color-quariery);
    color: var(--color-secondary);
    transition: background 0.2s, color 0.2s;
}

.btn--secondary:hover {
    background-color: var(--color-quariery);
    border: none;
    color: white;
}

a.btn {
    display: inline-block;
}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.8rem;
    }
}


/*Inputs*/

.input {
    background: #ECECEC; /*Color taken from the canvas design*/
    border-radius: 36px;
    border: 0;
    color: #4D4C4C; /*Color taken from the canvas design*/
    font-family: 'DM Sans', sans-serif;
    font-size: 2rem; 
    margin: 1rem 0;
    outline: 0;
    padding: 1.5rem 3rem;
    text-align: center; /*TODO: Concider to change alignment to left again*/
    width: 100%;
}

::placeholder {
    color: #4D4C4C;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .input {
        font-size: 1.8rem;
    }
}


/*Grids*/

.grid {
    display: grid;
    justify-items: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    
    .grid--1x2 {
        grid-template-columns: 1fr 1fr;
    }

    .grid--1x3 {
        grid-template-columns: 20fr auto 20fr;
    }

}


/*Icons*/ 

.icon {
    width:40px;
    height: 40px;
}

.icon--primary {
    fill: var(--color-primary); /*TODO: Color is now defined in the sprite file. Figure out why it won´t be defined here*/
}

.icon-container {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--color-quariery);
}


 
/*EamilBox*/

.emailBox {
    margin-top: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%; /*Adding a margin here for mobile, might delete later*/
    margin-right: 10%; /*Adding a margin here for mobile, might delete later*/
}

.emailBox, h3 {
    padding-top: 0;
}

.emailBox .btn {
    width: 80%;
}

.emailBox__heading {
    text-transform: uppercase;
    text-align: center;
}

@media screen and (min-width: 768px) {

    .emailBox {
        margin: 5rem 30%; /*TODO: Might remove this later*/
    }
    
    .emailBox__heading {
        font-size: 3rem;
    }
}


/*Hero*/

.hero {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: 5rem;
    border-bottom: 2px solid var(--color-quariery);
}

.hero h1 {  /*TODO: Concider to change h1 and font size for all headings*/
    font-size: 5rem;
}

.hero__image img {
    height: 400px;
    margin: 0 25px;
}

@media screen and (min-width: 768px) {
    .hero {
        text-align:left;
        font-size: 1.8rem;
        margin-top: 5rem;
        padding-bottom: 5rem;
    }

    .hero h1 {  /*TODO: Concider to change h1 and font size for all headings*/
        font-size: 10rem;
    }

}

@media screen and (min-width: 1024px) {
    .hero {
        grid-template-columns: 70fr 30fr;
    }
}


/*Collapsibles*/ 

/*TODO: Make sure the menu is not open when you refresh the apge */

.collapsible__content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all .3s;
}

.collapsible--expanded .collapsible__content { /*Use the collapsble--expanded class when you want the collapsable to be open when you refresh the side.*/
    max-height: 100vh;
    opacity: 1;
}


/*Navigation bar*/

.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    align-items: center;
    margin: 0 5%;
}

.nav__list {
    width: 100%;
    margin: 0;
}

.nav__item {
    padding: 0.5rem 2rem;
    border-bottom: 1px solid var(--color-quariery);
    text-align: center;

}

.nav__item > a {
    color:var(--color-secondary);
    transition: color .2s;
}

.nav__item > a:hover {
    color:var(--color-primary);
}

.nav__toggler {
    opacity: 0.5;
    transition: box-shadow 0.2s, transform 0.2s;
}

.nav.collapsible--expanded .nav__toggler {
    transform: scale(1.2);
    cursor: pointer;
   /* box-shadow: 0 0 30px 3px var(--color-quariery); /*TODO: Concider to change this color*/
    opacity: 1;
    /*border-radius: 5px; /*TODO: Concider to remove this*/
}

.nav img {
    height: 40px;
}

@media screen and (min-width: 768px) {
    
    
    .nav__toggler {
        display: none;
    }

    .nav__list {
        width: auto;
        display: flex;
        max-height: 100%;
        opacity: 1;
    }

    .nav__item {
        border-bottom: 0;
    }
}


/*Media boxes*/

.media {
    margin: 10rem 0;
    font-size: 1.8rem;
    text-align: center;
}

.media__txtBox {
    padding: 5px;
}

.media__txtBox h3 {
    font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-top: 20px;
    /* letter-spacing: 0.05rem; TODO: Check this, fix font space
    word-spacing: 0.02rem; */

}

.media__image img {
    height: 300px;
}

@media screen and (min-width: 768px) {
    .media {
        grid-template-columns: 50fr 50fr; /*Make image be the smalles box*/
        text-align: left;
        grid-template-areas: "mediaImage mediaTxtBox";
    }

    /* .media__image {  TODO: Make the fraction 35 for image and 65 for txtbox
        grid-area: mediaImage;
    }

    .media__txtBox {
        grid-area: mediaTxtBox;
    } */

    .media:nth-of-type(even) .media__image {
        order: 2;
      }
}


/*Footer*/

/*TODO:GO over footer and center the components within the grid etc...*/

.footer {
    background: var(--color-quariery);
    padding: 40px 10px;
}

.footer-logo, h2{
    margin: 0;
    font-size: 4rem;
}

footer > p {
    margin: 0;
    text-align: center;
    font-size: 1.8rem;
    padding: 1rem;
    font-style: italic;
}

.second-letter {
    color: var(--color-secondary);
}

.footer__list .list__item {
    display: inline;
}

@media screen and (min-width: 768px) {
   
    .footer__list .list__item {
        display: block;
    }

}

/*Coming soon component*/

.comingSoon-component {
    height: 60vh;
    text-align: center;
    overflow: scroll;
    margin: 20px 0;
}