<div class="mediaComponent grid grid--1x2">
  <div class="mediaContainer">
    <div class="mediaPicture">
      <img src="/images/profilbilde 2.jpg" alt="profile picture" />
      <p class="mediaTag">Role: Director</p>
      <p>Age: 26</p>
    </div>
    <div class="mediaContent">
      <h4>Employe 1</h4>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores,
        dolorem. Quibusdam rem consequuntur voluptatibus voluptates numquam,
        deserunt quisquam eligendi sequi.
      </p>
    </div>
  </div>
</div>
