<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>

<section>
  <div class="swiper mySwiper sliderContainer">
    <div class="swiper-wrapper cardHolder">
      <article class="swiper-slide card">
        <div class="media__image">
          <img
            src="images/tlfPictureCropped.jpg"
            alt="Image showing how the app looks like"
          />
        </div>
        <div class="media__txtBox">
          <h3 class="cardHeading">What the app can do 1.</h3>
          <p class="cardText">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt
            repudiandae maiores qui veniam soluta. Accusantium laboriosam iure
            voluptatem architecto nesciunt officia ex possimus deleniti ab.
          </p>
        </div>
      </article>
      <article class="swiper-slide card">
        <div class="media__image">
          <img
            src="images/tlfPictureCropped.jpg"
            alt="Image showing how the app looks like"
          />
        </div>
        <div class="media__txtBox">
          <h3 class="cardHeading">What the app can do 2.</h3>
          <p class="cardText">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt
            repudiandae maiores qui veniam soluta. Accusantium laboriosam iure
            voluptatem architecto nesciunt officia ex possimus deleniti ab.
          </p>
        </div>
      </article>
      <article class="swiper-slide card">
        <div class="media__image">
          <img
            src="images/tlfPictureCropped.jpg"
            alt="Image showing how the app looks like"
          />
        </div>
        <div class="media__txtBox">
          <h3 class="cardHeading">What the app can do 3.</h3>
          <p class="cardText">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt
            repudiandae maiores qui veniam soluta. Accusantium laboriosam iure
            voluptatem architecto nesciunt officia ex possimus deleniti ab.
          </p>
        </div>
      </article>
      <article class="swiper-slide card">
        <div class="media__image">
          <img
            src="images/tlfPictureCropped.jpg"
            alt="Image showing how the app looks like"
          />
        </div>
        <div class="media__txtBox">
          <h3 class="cardHeading">What the app can do 4.</h3>
          <p class="cardText">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt
            repudiandae maiores qui veniam soluta. Accusantium laboriosam iure
            voluptatem architecto nesciunt officia ex possimus deleniti ab.
          </p>
        </div>
      </article>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    cssMode: true,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    pagination: {
      el: ".swiper-pagination",
    },
    mousewheel: true,
    keyboard: true,
  });
</script>
